.search-box,
.sorting-box select {
  border: 1px solid var(--secondary-color);
  padding: 0.8rem 1.6rem;
  font-size: 1.6rem;
  cursor: pointer;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.sorting-box select {
  outline: none;
}
.search-box input {
  border: none;
}

.search-box input:focus {
  outline: none;
}

.sorting-box select option {
  background-color: var(--main-color);
  color: #fff;
}

.not-found-msg {
  font-size: 3.2rem;
  font-weight: 600;
  color: var(--main-color);
}

@media only screen and (max-width: 768px) {
  .search-box,
  .sorting-box select {
    width: 100%;
    padding: 0.6rem 1.2rem;
    font-size: 1.4rem;
  }
  
  .not-found-msg {
    font-size: 1.8rem;
    
  }
}
