.common-section {
  background: linear-gradient(rgba(8, 8, 88, 0.32), rgba(156, 7, 7, 0.418)),
    url("../assets/images/row-banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0;
}
.common-section h2 {
  color: #fff;
  font-size: 3.3rem;
}
