.feature-subtitle {
  font-size: 2rem;
  font-weight: 500;
  color: var(--main-color);
}

.feature-title {
  font-size: 3rem;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .feature-subtitle {
    font-size: 1.8rem;
  }

  .feature-title {
    font-size: 2.3rem;
  }
}

.feature-title span {
  color: var(--main-color);
}

.feature-text {
  font-size: 1.6rem;
  color: #777;
}

.feature-item p {
  color: #777;
  font-size: 1.4rem;
}

.products h2 {
  font-size: 3.2rem;
}

@media only screen and (max-width: 768px) {
  .products h2 {
    font-size: 2.8rem;
  }
}

.foods-category {
  background: var(--main-color);
  margin-top: 3rem;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
}

@media only screen and (max-width: 768px) {
  .foods-category {
    margin-top: 2rem;
  }
}

.foods-category button {
  border: none;
  outline: none;
  padding: 0.7rem 2rem;
  background: transparent;
  color: #fff;
  font-size: 1.6rem;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.foods-category button img {
  width: 1.5rem;
  height: 1.5rem;
}

.foods-category button:hover {
  transform: scale(1.05) translateY(-3px);
  -webkit-transform: scale(1.05) translateY(-3px);
  -moz-transform: scale(1.05) translateY(-3px);
  -ms-transform: scale(1.05) translateY(-3px);
  -o-transform: scale(1.05) translateY(-3px);
}

@media only screen and (max-width: 480px) {
  .foods-category {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 768px) {
  .foods-category button {
    padding: 0.3rem 1.5rem;
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 992px) {
  .foods-category button {
    font-size: 1.4rem;
  }
}

.foodBtnActive {
  background-color: #fff !important;
  color: var(--main-color) !important;
  transform: scale(1.05) translateY(-3px);
  -webkit-transform: scale(1.05) translateY(-3px);
  -moz-transform: scale(1.05) translateY(-3px);
  -ms-transform: scale(1.05) translateY(-3px);
  -o-transform: scale(1.05) translateY(-3px);
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
}

.why-title {
  font-size: 3.2rem;
}

@media only screen and (max-width: 768px) {
  .why-title {
    font-size: 2.8rem;
    text-align: center;
  }
}

.why-title span {
  color: var(--main-color);
}

.why-info p {
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
}

.why-item {
  color: var(--primary-color) !important;
  font-weight: 600;
}

.why-item i {
  color: var(--main-color) !important;
  font-weight: 500 !important;
}

.hot-pizza-title h2 {
  font-size: 3.2rem;
}

@media only screen and (max-width: 768px) {
  .hot-pizza-title h2 {
    font-size: 2.8rem;
  }
}

.testimonial-content {
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
}

@media only screen and (max-width: 768px) {
  .testimonial-content {
    margin-bottom: 4rem;
  }
}

.testimonial-subtitle {
  color: var(--main-color);
  font-size: 2.2rem;
}

.testimonial-title {
  font-size: 3.2rem;
}

@media only screen and (max-width: 768px) {
  .testimonial-subtitle {
    text-align: center;
  }

  .testimonial-title {
    font-size: 2.8rem;
    text-align: center;
  }
}

.testimonial-title span {
  color: var(--main-color);
}

.testimonial-content p {
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
}
