@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Istok+Web&display=swap");

:root {
  --main-color: #df2020;
  --main-color-hover: #fb2525;
  --primary-color: #212245;
  --primary-color-hover:#393a77;
  --secondary-color: #fde4e4;
  --secondary-color-hover: #fbcfcf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #fcfcfc;
  font-family: "Istok Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "RocknRoll One", sans-serif !important;
}

a {
  text-decoration: none;
  color: unset;
}

h1,
h2 {
  font-weight: 600;
  color: #212245;
}

section {
  padding: 50px 15px;
}

/* @media only screen and (max-width:768px) {
  section {
  padding: 40px 10px;
}
} */